<header>
    <div class="left-container">
        <div class="logo-container">
            <img src="/images/favicon.png" alt="BlogVerse-logo" class="logo-img">
            <a class="logo-text" href="/">BlogVerse.com</a>
        </div>
        <a href="/collections" class="blogs-header-container header-links">
            Blogs
        </a>
    </div>
    <div class="right-container">
        <nav class="nav-container">
            <% if (locals.user) { %>
                <div class="login-nav-container">
                    <a href="#" class="header-links"><%= JSON.stringify(user.fullName) %></a>
                </div>
                <div class="login-nav-link-2">
                    <a href="/greet">Get Started</a>
                </div>
                <div class="login-nav-link-3">
                    <a href="/user/logout">Logout</a>
                </div>
            <% } else { %>
                <div class="login-nav-container">
                    <a href="/login" class="header-links">Login</a>
                </div>
                <div class="login-nav-link-2">
                    <a href="/login">Create Account</a>
                </div>
            <% }%>
        </nav>
    </div>
</header>