<header class="sticky-header">
    <div class="left-container">
      <div class="logo-container">
        <img src="/images/favicon.png" alt="BlogVerse-logo" class="logo-img">
        <a class="logo-text" href="/">BlogVerse.com</a>
      </div>
      <a href="/collections" class="blogs-header-container header-links">Blogs</a>
    </div>
    <div class="right-container">
      <nav class="nav-container">
        <% if (locals.user) { %>
          <div class="login-nav-container">
            <% if (locals.currUser) { %>
              <a href="/profile/<%= currUser._id %>" class="header-links">
                <%= JSON.stringify(currUser.fullName).substring(1, JSON.stringify(currUser.fullName).length - 1) %>
              </a>
            <% } else { %>
              <a href="/profile/<%= user._id %>" class="header-links">
                <%= JSON.stringify(user.fullName).substring(1, JSON.stringify(user.fullName).length - 1) %>
              </a>
            <% } %>
          </div>
          <div class="login-nav-link-2">
            <a href="/greet" class="cta-button">Get Started</a>
          </div>
          <div class="login-nav-link-3">
            <a href="/user/logout" class="logout-link">Logout</a>
          </div>
        <% } else { %>
          <div class="login-nav-container">
            <a href="/login" class="header-links">Login</a>
          </div>
          <div class="login-nav-link-2">
            <a href="/login" class="cta-button">Create Account</a>
          </div>
        <% } %>
      </nav>
    </div>
  </header>  