<header>
    <div class="left-container">
        <div class="logo-container">
            <img src="images/favicon.png" alt="BlogVerse-logo" class="logo-img">
            <p class="logo-text">BlogVerse.com</p>
        </div>
        <a href="/collections" class="blogs-header-container header-links">
            Blogs
        </a>
    </div>
    <div class="right-container">
        <nav class="nav-container">
            <div class="login-nav-container">
                <a href="/login" class="header-links">Login</a>
            </div>
            <div class="login-nav-link-2">
                <a href="/greet">Get Started</a>
            </div>
        </nav>
    </div>
</header>