<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head') %>
        <link rel="stylesheet" href="styles/blogCreate.css">
    </head>
    <body>
        <%- include('partials/header') %>
        <div class="container">
            <form action="/blog/add-blog" method="post" enctype="multipart/form-data">
                <main class="editor-container">
                    <div class="editor-header">
                        <button class="icon-button" type="submit">
                            <i class="fas fa-plus editor-icon"></i>
                        </button>
                        <input type="text" class="editor-title" placeholder="Add title" name="title" aria-label="Blog Title">
                        <button class="icon-button">
                            <i class="fas fa-ellipsis-h editor-icon"></i>
                        </button>
                    </div>
                
                    <nav class="editor-toolbar" aria-label="Text formatting tools">
                        <button aria-label="Align Left"><i class="fas fa-align-left"></i></button>
                        <button aria-label="Align Center"><i class="fas fa-align-center"></i></button>
                        <button aria-label="Align Right"><i class="fas fa-align-right"></i></button>
                        <button aria-label="Bold"><i class="fas fa-bold"></i></button>
                        <button aria-label="Italic"><i class="fas fa-italic"></i></button>
                        <button aria-label="Underline"><i class="fas fa-underline"></i></button>
                        <button aria-label="List"><i class="fas fa-list"></i></button>
                        <button aria-label="Link"><i class="fas fa-link"></i></button>
                        <button aria-label="AI Rewrite" class="ai-rewrite"><i class="fa-solid fa-feather"></i></button>
                        <label class="file-upload">
                            <input type="file" name="coverImage" aria-label="Image">
                            <i class="fas fa-image"></i>
                        </label>
                        <label for="category">
                            Category:
                            <select name="category" class="category-container">
                                <option value="Miscelaneous">Miscelaneous</option>
                                <option value="Food Blogs">Food Blogs</option>
                                <option value="Travel Blogs">Travel Blogs</option>
                                <option value="Tech Blogs">Tech Blogs</option>
                                <option value="Lifestyle Blogs">Lifestyle Blogs</option>
                                <option value="Fashion Blogs">Fashion Blogs</option>
                            </select>
                        </label>
                    </nav>
                
                    <section class="editor-content">
                        <textarea class="editor-textarea" name="body" placeholder="Type the content for the blog here" aria-label="Blog content"></textarea>
                    </section>
                </main>
            </form>
        </div>
    
        <%- include('partials/footer') %>

        <script src="blogCreate.js"></script>
    </body>
</html>