<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head') %>
        <link rel="stylesheet" href="styles/header.css">
        <link rel="stylesheet" href="styles/blogCreate.css">
    </head>
    <body>
        <div class="container">
            <%- include('partials/header') %>
        </div>
    </body>
</html>