<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head') %>
        <link rel="stylesheet" href="styles/collections.css">
        <link rel="stylesheet" href="styles/header.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Jomhuria&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <%- include('partials/header') %>

            <main class="collections-container">
                <h1 class="collections-heading">Latest Articles</h1>
                <div class="carousel-container">
                    <img src="images/latest-article-banner.png" alt="latest-articles" class="latest-articles">
                </div>

                <div class="collections-cards-container">
                    <h2 class="collections-head">Collections</h2>

                    <div class="blog-card-container">
                        <div class="blog-cover">Food Blogs</div>
                        <div class="card-scorll-container">
                            <div class="card">
                                <img src="images/blog-card-cover.png" alt="Blog Card Cover" class="cover-img">
                                <h3 class="bolg-head">Healthy Eating Tips</h3>
                                <p class="blog-descirption">
                                    Discover simple tips for maintainnig a healthy deit and making nutritious food choices.
                                </p>
                            </div>
                            <div class="card">
                                <img src="images/blog-card-cover.png" alt="Blog Card Cover" class="cover-img">
                                <h3 class="bolg-head">Healthy Eating Tips</h3>
                                <p class="blog-descirption">
                                    Discover simple tips for maintainnig a healthy deit and making nutritious food choices.
                                </p>
                            </div>
                            <div class="card">
                                <img src="images/blog-card-cover.png" alt="Blog Card Cover" class="cover-img">
                                <h3 class="bolg-head">Healthy Eating Tips</h3>
                                <p class="blog-descirption">
                                    Discover simple tips for maintainnig a healthy deit and making nutritious food choices.
                                </p>
                            </div>
                            <div class="card">
                                <img src="images/blog-card-cover.png" alt="Blog Card Cover" class="cover-img">
                                <h3 class="bolg-head">Healthy Eating Tips</h3>
                                <p class="blog-descirption">
                                    Discover simple tips for maintainnig a healthy deit and making nutritious food choices.
                                </p>
                            </div>
                            <div class="card">
                                <img src="images/blog-card-cover.png" alt="Blog Card Cover" class="cover-img">
                                <h3 class="bolg-head">Healthy Eating Tips</h3>
                                <p class="blog-descirption">
                                    Discover simple tips for maintainnig a healthy deit and making nutritious food choices.
                                </p>
                            </div>
                            <div class="card">
                                <img src="images/blog-card-cover.png" alt="Blog Card Cover" class="cover-img">
                                <h3 class="bolg-head">Healthy Eating Tips</h3>
                                <p class="blog-descirption">
                                    Discover simple tips for maintainnig a healthy deit and making nutritious food choices.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="blog-card-container">
                        <div class="blog-cover">Food Blogs</div>
                        <div class="card-scorll-container">
                            <div class="card">
                                <img src="images/blog-card-cover.png" alt="Blog Card Cover" class="cover-img">
                                <h3 class="bolg-head">Healthy Eating Tips</h3>
                                <p class="blog-descirption">
                                    Discover simple tips for maintainnig a healthy deit and making nutritious food choices.
                                </p>
                            </div>
                            <div class="card">
                                <img src="images/blog-card-cover.png" alt="Blog Card Cover" class="cover-img">
                                <h3 class="bolg-head">Healthy Eating Tips</h3>
                                <p class="blog-descirption">
                                    Discover simple tips for maintainnig a healthy deit and making nutritious food choices.
                                </p>
                            </div>
                            <div class="card">
                                <img src="images/blog-card-cover.png" alt="Blog Card Cover" class="cover-img">
                                <h3 class="bolg-head">Healthy Eating Tips</h3>
                                <p class="blog-descirption">
                                    Discover simple tips for maintainnig a healthy deit and making nutritious food choices.
                                </p>
                            </div>
                            <div class="card">
                                <img src="images/blog-card-cover.png" alt="Blog Card Cover" class="cover-img">
                                <h3 class="bolg-head">Healthy Eating Tips</h3>
                                <p class="blog-descirption">
                                    Discover simple tips for maintainnig a healthy deit and making nutritious food choices.
                                </p>
                            </div>
                            <div class="card">
                                <img src="images/blog-card-cover.png" alt="Blog Card Cover" class="cover-img">
                                <h3 class="bolg-head">Healthy Eating Tips</h3>
                                <p class="blog-descirption">
                                    Discover simple tips for maintainnig a healthy deit and making nutritious food choices.
                                </p>
                            </div>
                            <div class="card">
                                <img src="images/blog-card-cover.png" alt="Blog Card Cover" class="cover-img">
                                <h3 class="bolg-head">Healthy Eating Tips</h3>
                                <p class="blog-descirption">
                                    Discover simple tips for maintainnig a healthy deit and making nutritious food choices.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="blog-card-container">
                        <div class="blog-cover">Food Blogs</div>
                        <div class="card-scorll-container">
                            <div class="card">
                                <img src="images/blog-card-cover.png" alt="Blog Card Cover" class="cover-img">
                                <h3 class="bolg-head">Healthy Eating Tips</h3>
                                <p class="blog-descirption">
                                    Discover simple tips for maintainnig a healthy deit and making nutritious food choices.
                                </p>
                            </div>
                            <div class="card">
                                <img src="images/blog-card-cover.png" alt="Blog Card Cover" class="cover-img">
                                <h3 class="bolg-head">Healthy Eating Tips</h3>
                                <p class="blog-descirption">
                                    Discover simple tips for maintainnig a healthy deit and making nutritious food choices.
                                </p>
                            </div>
                            <div class="card">
                                <img src="images/blog-card-cover.png" alt="Blog Card Cover" class="cover-img">
                                <h3 class="bolg-head">Healthy Eating Tips</h3>
                                <p class="blog-descirption">
                                    Discover simple tips for maintainnig a healthy deit and making nutritious food choices.
                                </p>
                            </div>
                            <div class="card">
                                <img src="images/blog-card-cover.png" alt="Blog Card Cover" class="cover-img">
                                <h3 class="bolg-head">Healthy Eating Tips</h3>
                                <p class="blog-descirption">
                                    Discover simple tips for maintainnig a healthy deit and making nutritious food choices.
                                </p>
                            </div>
                            <div class="card">
                                <img src="images/blog-card-cover.png" alt="Blog Card Cover" class="cover-img">
                                <h3 class="bolg-head">Healthy Eating Tips</h3>
                                <p class="blog-descirption">
                                    Discover simple tips for maintainnig a healthy deit and making nutritious food choices.
                                </p>
                            </div>
                            <div class="card">
                                <img src="images/blog-card-cover.png" alt="Blog Card Cover" class="cover-img">
                                <h3 class="bolg-head">Healthy Eating Tips</h3>
                                <p class="blog-descirption">
                                    Discover simple tips for maintainnig a healthy deit and making nutritious food choices.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="blog-card-container">
                        <div class="blog-cover">Food Blogs</div>
                        <div class="card-scorll-container">
                            <div class="card">
                                <img src="images/blog-card-cover.png" alt="Blog Card Cover" class="cover-img">
                                <h3 class="bolg-head">Healthy Eating Tips</h3>
                                <p class="blog-descirption">
                                    Discover simple tips for maintainnig a healthy deit and making nutritious food choices.
                                </p>
                            </div>
                            <div class="card">
                                <img src="images/blog-card-cover.png" alt="Blog Card Cover" class="cover-img">
                                <h3 class="bolg-head">Healthy Eating Tips</h3>
                                <p class="blog-descirption">
                                    Discover simple tips for maintainnig a healthy deit and making nutritious food choices.
                                </p>
                            </div>
                            <div class="card">
                                <img src="images/blog-card-cover.png" alt="Blog Card Cover" class="cover-img">
                                <h3 class="bolg-head">Healthy Eating Tips</h3>
                                <p class="blog-descirption">
                                    Discover simple tips for maintainnig a healthy deit and making nutritious food choices.
                                </p>
                            </div>
                            <div class="card">
                                <img src="images/blog-card-cover.png" alt="Blog Card Cover" class="cover-img">
                                <h3 class="bolg-head">Healthy Eating Tips</h3>
                                <p class="blog-descirption">
                                    Discover simple tips for maintainnig a healthy deit and making nutritious food choices.
                                </p>
                            </div>
                            <div class="card">
                                <img src="images/blog-card-cover.png" alt="Blog Card Cover" class="cover-img">
                                <h3 class="bolg-head">Healthy Eating Tips</h3>
                                <p class="blog-descirption">
                                    Discover simple tips for maintainnig a healthy deit and making nutritious food choices.
                                </p>
                            </div>
                            <div class="card">
                                <img src="images/blog-card-cover.png" alt="Blog Card Cover" class="cover-img">
                                <h3 class="bolg-head">Healthy Eating Tips</h3>
                                <p class="blog-descirption">
                                    Discover simple tips for maintainnig a healthy deit and making nutritious food choices.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </body>
</html>