<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head') %>
        <link rel="stylesheet" href="styles/collections.css">
        <link rel="stylesheet" href="styles/header.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Jomhuria&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <%- include('partials/header') %>

            <main class="collections-container">
                <h1 class="collections-heading">Latest Article</h1>
                <div class="carousel-container">
                    <img src="images/latest-article-banner.png" alt="latest-articles" class="latest-articles">
                </div>
            </main>
        </div>
    </body>
</html>