<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head') %>
        <link rel="stylesheet" href="styles/collections.css">
        <link rel="stylesheet" href="styles/header.css">
        <link rel="stylesheet" href="styles/footer.css">
        <link rel="stylesheet" href="styles/scrollbar.css">
    </head>
    <body>
        <div class="container">
            <%- include('partials/header') %>

            <main class="collections-container">
                <h1 class="collections-heading">Latest Articles</h1>
                <div class="carousel-container">
                    <img src="images/latest-article-banner.png" alt="latest-articles" class="latest-articles">
                </div>

                <div class="collections-cards-container">
                    <h2 class="collections-head">Collections</h2>

                    <% const categories = ['Food Blogs', 'Travel Blogs', 'Tech Blogs', 'Lifestyle Blogs', 'Fashion Blogs']; %>
                    <% categories.forEach(category => { %>
                        <div class="blog-card-container">
                            <div class="blog-cover"><%= category %></div>
                            <div class="card-scroll-container">
                                <% for (let i = 0; i < 10; i++) { %>
                                    <div class="card">
                                        <img src="images/blog-card-cover.png" alt="Blog Card Cover" class="cover-img">
                                        <h3 class="blog-head">Healthy Eating Tips</h3>
                                        <p class="blog-description">
                                            Discover simple tips for maintaining a healthy diet and making nutritious food choices.
                                        </p>
                                    </div>
                                <% } %>
                            </div>
                        </div>
                    <% }); %>
                </div>
            </main>
            <%- include('partials/footer') %>
        </div>
    </body>
</html>