<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Suhas Kanwar">
        <meta name="keywords" content="blogs, blog, BlogVerse, blogging">
        <meta name="Description" content="The AI-Powered Blogging Platform is an innovative website where users can create and share blog posts while enjoying personalized content recommendations. Leveraging AI, the platform suggests relevant posts based on user preferences, offering a tailored reading experience. It features user authentication, interactive commenting, and responsive design for seamless accessibility.">
        <title>BlogVerse</title>
        <link rel="stylesheet" href="styles/style.css">
        <link rel="shortcut icon" href="https://ytpng.net/wp-content/uploads/2023/01/image-300x300.png" type="image/x-icon">
    </head>
    <body>
        
        <div class="container">
            This is the Home Page
        </div>

        <script src="app.js"></script>
    </body>
</html>