<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head') %>
        <link rel="stylesheet" href="styles/style.css">
        <link rel="stylesheet" href="styles/header.css">
        <link rel="stylesheet" href="styles/footer.css">
        <link rel="stylesheet" href="styles/scrollbar.css">
    </head>
    <body>
        <div class="container">
            <%- include('partials/header') %>

            <main class="hero-container">
                <div class="hero-text-container">
                    <h1 class="hero-heading">Blog with the best.</h1>
                    <p class="hero-text">More bloggers and independent creators choose BlogVerse than any other blogging tool. Tap into intuitive, flexible tools that put writers, bloggers, and creators first.</p>
                </div>
                <button class="hero-button direct-greet-btn">Start a Blog</button>
            </main> 

            <div class="display-image-container" id="display-image-container-1">
                <img src="images/display-img-1.png" alt="display-image-1">
            </div>

            <section class="section-styling section-1">
                <h3 class="section-1-start-head ">
                    Simple, meet flexible.
                </h3>
                <p class="section-1-start-text">
                    Whatever you're publishing. Whoever your audience is. Blogverse.com makes it simple to get started. And easy to expand your site as your audience grows.
                </p>
                <div class="directive-btn-container section-1-btn-container">
                    <button class="directive-btn section-1-btns direct-blogCreate-btn">
                        Start Writing
                    </button>
                    <button class="directive-btn section-1-btns direct-collections-btn">
                        View Collections
                    </button>
                </div>
                <div class="feature-wrapper-section-1">
                    <div class="features">
                        <!-- Feature-1 Start -->
                        <div class="features-container">
                            <div class="feature">
                                <i class="fa-solid fa-angle-down"></i>
                                <div class="feature-head">
                                    Blog beautifully
                                </div>
                            </div>
                            <div class="feature-explanation">
                                Customize your blog's look and feel in a couple of clicks with beautifully designed themes. Bring your writing to life with magical drag-and-drop layouts. Or put your fingerprint on every font, color, and element on the page.
                            </div>
                        </div>
                        <!-- Feature-1 End -->
    
                        <!-- Feature-2 Start -->
                        <div class="features-container">
                            <div class="feature">
                                <i class="fa-solid fa-angle-down"></i>
                                <div class="feature-head">
                                    Edit Easily
                                </div>
                            </div>
                            <div class="feature-explanation">
                                From simple and clean to glossy magazine – whatever your publishing style, the intuitive block editor adapts to you. Drag, drop, and easily swap out your menu, punch in a pull quote, or make your post pop with a beautiful gallery. Just like that.
                            </div>
                        </div>
                        <!-- Feature-2 End -->
    
                        <!-- Feature-3 Start -->
                        <div class="features-container">
                            <div class="feature">
                                <i class="fa-solid fa-angle-down"></i>
                                <div class="feature-head">
                                    Share anything, simply
                                </div>
                            </div>
                            <div class="feature-explanation">
                                From video to audio, stories to GIFs, bring it all together—right from where you write. And with plenty of storage for every type of media, your content's secure, easy to reuse anywhere on your blog, and owned by you alone.
                            </div>
                        </div>
                        <!-- Feature-3 End -->
                    </div>

                    <img src="images/section-1-img.png" alt="section-1-img" class="">
                </div>
            </section>

            <div class="display-image-container" id="display-image-container-2">
                <img src="images/display-img-2.png" alt="display-image-2">
            </div>

            <section class="section-styling section-2">
                <h3 class="section-2-start-head">
                    You do you.
                </h3>
                <p class="section-2-start-text">
                    You've got more on your plate than running a blog. WordPress.com meets you where you are.
                </p>
                <div class="directive-btn-container section-2-btn-container">
                    <button class="directive-btn section-2-btns direct-blogCreate-btn">
                        Start Writing
                    </button>
                    <button class="directive-btn section-2-btns direct-collections-btn">
                        View Collections
                    </button>
                </div>
                <div class="feature-wrapper-section-2">
                    <div class="features">
                        <!-- Feature-1 Start -->
                        <div class="features-container">
                            <div class="feature">
                                <i class="fa-solid fa-angle-down"></i>
                                <div class="feature-head">
                                    Blog from Anywhere
                                </div>
                            </div>
                            <div class="feature-explanation">
                                The Jetpack mobile app for iOS and Android puts total control of your blog a tap and swipe away. Wherever you are at the time.
                            </div>
                        </div>
                        <!-- Feature-1 End -->
    
                        <!-- Feature-2 Start -->
                        <div class="features-container">
                            <div class="feature">
                                <i class="fa-solid fa-angle-down"></i>
                                <div class="feature-head">
                                    Write now, publish later
                                </div>
                            </div>
                            <div class="feature-explanation">
                                With post-scheduling, you can catch your readers at the best time for them. And for you. Write up a post, set your publish date, and then leave it to your blog to hit publish.
                            </div>
                        </div>
                        <!-- Feature-2 End -->
    
                        <!-- Feature-3 Start -->
                        <div class="features-container">
                            <div class="feature">
                                <i class="fa-solid fa-angle-down"></i>
                                <div class="feature-head">
                                    Track your blog stats
                                </div>
                            </div>
                            <div class="feature-explanation">
                                Skim your blog stats with an at-a-glance dashboard. Or dig into the details of exactly what's resonating with your readers with charts, graphs, and deep-dive data, powered by Jetpack.
                            </div>
                        </div>
                        <!-- Feature-3 End -->
                    </div>

                    <img src="images/section-2-img.png" alt="section-2-img" class="">
                </div>
            </section>

            <section class="section-styling section-3">
                <h3 class="section-3-start-head">
                    See and be seen.
                </h3>
                <p class="section-3-start-text">
                    You made it. Now it's time to get it in front of people. With baked in SEO tools, a bustling community, one-click social links, and a bunch of easy ways to get paid, you're all set.
                </p>
                <div class="directive-btn-container section-3-btn-container">
                    <button class="directive-btn section-3-btns direct-blogCreate-btn">
                        Start Writing
                    </button>
                    <button class="directive-btn section-3-btns direct-collections-btn">
                        View Collections
                    </button>
                </div>
                <div class="feature-cards-container">
                    <!-- Feature-Card-1 Start -->
                    <div class="feature-card ">
                        <img src="images/feature-card-1.png" alt="feature-logo">
                        <div class="feature-card-head">
                            SEO, to go
                        </div>
                        <div class="feature-card-dsc">
                            Get found faster thanks to built-in search engine optimization tools. Clean URLs, automatic sitemaps, and custom titles and descriptions help put your blog at the top of the stack in search results.
                        </div>
                    </div>
                    <!-- Feature-Card-1 End -->

                    <!-- Feature-Card-2 Start -->
                    <div class="feature-card ">
                        <img src="images/feature-card-2.png" alt="feature-logo">
                        <div class="feature-card-head">
                            Find your audience
                        </div>
                        <div class="feature-card-dsc">
                            Say hello to a huge community of bloggers, creators, and avid readers, every time you publish. Blogverse.com's built-in Reader means millions of people can easily find, follow, and share your blog.
                        </div>
                    </div>
                    <!-- Feature-Card-2 End -->
                    
                    <!-- Feature-Card-3 Start -->
                    <div class="feature-card ">
                        <img src="images/feature-card-3.png" alt="feature-logo">
                        <div class="feature-card-head">
                            Take it to social
                        </div>
                        <div class="feature-card-dsc">
                            Put the word out on social media with no extra work. Set up automatic social updates once. Then leave it to WordPress.com to update Facebook, Tumblr, and LinkedIn every time you hit publish.
                        </div>
                    </div>
                    <!-- Feature-Card-3 End -->

                    <!-- Feature-Card-4 Start -->
                    <div class="feature-card ">
                        <img src="images/feature-card-4.png" alt="feature-logo">
                        <div class="feature-card-head">
                            Get paid for what you made
                        </div>
                        <div class="feature-card-dsc">
                            Let your audience support your hard work with built-in monetization tools. From shipping out merch to selling downloadable content, taking donations to offering subscriptions and memberships. Everything you need to collect payments is baked right in.
                        </div>
                    </div>
                    <!-- Feature-Card-4 End -->
                </div>
            </section>

            <div class="display-image-container" id="display-image-container-3">
                <img src="images/display-img-3.png" alt="display-image-3">
            </div>
            
            <section class="section-4 testimonial-section">
                <h3 class="testimonial-head ">
                    People love Blogverse.com.
                </h3>
                <div class="testimonial-wrapper">
                    <!-- Testimonial-1 Start -->
                    <div class="testimonial-container ">
                        <div class="testimonial">
                            Over the years, I've acquired a gratifying number of readers and followers, with more arriving each day, and I owe much of that audience to the tools and opportunities that Blogverse.com provides.
                        </div>
                        <div class="testimonial-name">
                            Suhas Kanwar
                        </div>
                    </div>
                    <!-- Testimonial-1 End -->
    
                    <!-- Testimonial-2 Start -->
                    <div class="testimonial-container ">
                        <div class="testimonial">
                            Blogverse.com has allowed me to present my content in an attractive way. It's given me a platform to reach thousands of people. It's made people notice me and what I write… With my Blogverse site, I feel like a professional.
                        </div>
                        <div class="testimonial-name">
                            Suryansh Mahajan
                        </div>
                    </div>
                    <!-- Testimonial-2 End -->
    
                    <!-- Testimonial-3 Start -->
                    <div class="testimonial-container ">
                        <div class="testimonial">
                            My entire life has been invested in the written word, printing and publishing. Blogverse.com is the best resource I have ever used.
                        </div>
                        <div class="testimonial-name">
                            Aditya Yadav
                        </div>
                    </div>
                    <!-- Testimonial-3 End -->
                </div>
            </section>

            <section class="section-styling section-5">
                <h3 class="section-5-start-head ">
                    You're in control.
                </h3>
                <p class="section-5-start-text ">
                    With Blogverse.com, your content belongs to you alone. Count on us to keep your site strong, safe, and lightning fast, so you'll never lose a site visitor.
                </p>
                <div class="directive-btn-container section-5-btn-container">
                    <button class="directive-btn section-5-btns direct-blogCreate-btn">
                        Start Writing
                    </button>
                    <button class="directive-btn section-5-btns direct-collections-btn">
                        View Collections
                    </button>
                </div>
                <div class="feature-wrapper-section-5">
                    <div class="features">
                        <!-- Feature-1 Start -->
                        <div class="features-container">
                            <div class="feature">
                                <i class="fa-solid fa-angle-down"></i>
                                <div class="feature-head">
                                    Own your Content
                                </div>
                            </div>
                            <div class="feature-explanation">
                                Blogs should belong to creators, not platforms. With WordPress.com, every word, every photo, and every thought you share belongs to you. And only you. That means you can easily export your entire blog and take it anywhere, at any time.
                            </div>
                        </div>
                        <!-- Feature-1 End -->
    
                        <!-- Feature-2 Start -->
                        <div class="features-container">
                            <div class="feature">
                                <i class="fa-solid fa-angle-down"></i>
                                <div class="feature-head">
                                    Seriously secure
                                </div>
                            </div>
                            <div class="feature-explanation">
                                Your blog's in safe hands. With a dedicated security team, firewalls, encryption, brute force, and DDoS protection. So when you blog with WordPress.com, security's all in place. All by default.
                            </div>
                        </div>
                        <!-- Feature-2 End -->
    
                        <!-- Feature-3 Start -->
                        <div class="features-container">
                            <div class="feature">
                                <i class="fa-solid fa-angle-down"></i>
                                <div class="feature-head">
                                    Lightning-fast speed
                                </div>
                            </div>
                            <div class="feature-explanation">
                                BlogVerse.com focuses on doing only one thing really well: hosting blazing-fast BlogVerse sites, all over the world. So you'll never lose a follower to a slow site or risk your blog going down with a sudden traffic spike.
                            </div>
                        </div>
                        <!-- Feature-3 End -->
                    </div>

                    <img src="images/section-5-img.png" alt="section-5-img" class="">
                </div>
            </section>

            <%- include('partials/footer') %>
            
        </div>
        <script src="app.js"></script>
    </body>
</html>