:root{
    --background-color-1: #1E1E1E;
    --background-color-2: #ffffff;
    --primary-font: 'Inria Serif';
    --secondaty-font: "Inter";
    --primary-color: #ffffff;
    --secondary-color: #000000;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}