:root{
    --background-color-1: #101517;
    --background-color-2: #ffffff;
    --primary-font: 'Inria Serif';
    --secondaty-font: "Inter";
    --tertiary-font: 'Inria Sans';
    --primary-color: #ffffff;
    --secondary-color: #000000;
    --page-margin: 8vw;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: var(--background-color-1);
}
::-webkit-scrollbar-thumb{
    background: var(--primary-color);
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover{
    background: #555;
}