:root{
    --background-color-1: #1E1E1E;
    --background-color-2: #ffffff;
    --primary-font: "Inria Serif";
    --secondaty-font: "Inter";
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: calibri;
}
body{
    height: 100vh;
    width: 100vw;
}
.container{
    height: 100%;
    width: 100%;
}